@font-face {
    font-family: "good-dog"; 
    src: url("https://wren-nest.github.io/creature-cabal//fonts/GOODDC__.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "huglove"; 
    src: url("https://wren-nest.github.io/creature-cabal//fonts/Huglove.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "spaceton"; 
    src: url("https://wren-nest.github.io/creature-cabal//fonts/Spaceton.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "super-dessert"; 
    src: url("https://wren-nest.github.io/creature-cabal//fonts/Super_Dessert.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

.curtainside {
    width: 192px;
  height: 100%;
  float: left;
}
